@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.authorBlock {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: #323130;
  margin-top: 10px;
  margin-left: 10px;
}

.avatar {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  font-size: 18px;
  text-decoration-line: underline;
  color: #823872;
  font-family: 'Lato', sans-serif;
}

.job {
  font-weight: 400;
  font-size: 18px;
  color: #5b5b5b;
  font-family: 'Lato', sans-serif;
}

.publishedByLabel {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  color: #5b5b5b;
  font-family: 'Lato', sans-serif;
  margin-left: 10px;
}
